.node_modules
.prettierrc
.prettierignore

src/app/globals.css

.env
.env.local
.env.production
.env.sample

package.json
package-lock.json

next-env.d.ts
components.json

next.config.mjs
postcss.config.mjs

.gitignore

README.md
tailwind.config.ts
tsconfig.json

.eslintrc.json

src/components/ui

public/
.next/